{{set . "title" "Pornk - Gifs | New Hot Porn Gifs and Best Adult Gifs"}}
{{template "header.html" .}}
{{template "navigation.html" .}}
<main>
	<div class="">
		<div class="row">AD SPACE HERE</div>

    		<div class="row"><h2>Most Popular Gifs</h2></div>      

  		<div class="row">
		{{ range .videos }}
    			<div class="col s12 m6 l4">
      				<div class="card">
				
					<div class="card-image">
  						<img src="/public/gif/{{ .Id }}.gif" alt="{{ .Title }}"/>
						<span class="card-title" style="font-size:16px"><a href="/gif/{{ .Id }}" style="color:white">{{ .Title}}</a></span>
					</div>
        				<div class="card-content" style="padding:0">
          					<div style="padding:5px;font-weight: bold">Description</div>
						<div style="padding:5px"> {{ .Description }}</div>
						<div style="padding:5px;font-weight: bold">Views</div> 
						<div style="padding:5px">{{ .Views }}</div>
						<div style="padding:5px;font-weight: bold">Date Created</div> 
						<div style="padding:5px">{{date .Created }}</div>
					</div>
				</div>
			</div>
		{{ end }}	
  		</div>
		<div class="row center-align">
			<ul class="pagination">
				<li class="waves-effect"><a href="/gifs/1"><i class="material-icons">chevron_left</i></a></li>
    				<li class="waves-effect"><a href="/gifs/{{ .pagination.Previous }}"><i class="material-icons">arrow_back</i></a></li>
    				{{ range .pagination.Middle }}
					<li class="waves-effect"><a href="/gifs/{{ . }}">{{ . }}</a></li>
				{{ end }}
   				<li class="waves-effect"><a href="/gifs/{{ .pagination.Next }}"><i class="material-icons">arrow_forward</i></a></li>
				<li class="waves-effect"><a href="/gifs/{{ .pagination.Last }}"><i class="material-icons">chevron_right</i></a></li>
			</ul>
		</div>
	</div>
</main>
{{template "footer.html" .}}
