{{set . "title" "Pornk - Videos | The Best Free HD High Quality Porn Videos and XXX Movies"}}
{{template "header.html" .}}
{{template "navigation.html" .}}
<main>
  <div class="container">
    <div class="row">
      <h5>{{ .video.Title }}</h5>
	<p>{{ .video.Description }}</p>
    </div>      

	

  <div class="row">
  	<img class="responsive-img" style="width:100%" src="/public/gif/{{ .video.Id }}.gif" alt="{{ .video.Title }}" />

  </div>

	<div class="row center-align">
		 <ul class="pagination">
                <li><a href="/gif/{{ .previous }}"><i class="material-icons">chevron_left</a></i></li>
                <li><a href="/gif/{{ .next }}"><i class="material-icons">chevron_right</a></i></li>
	        </ul>

	</div>
</div>
</main>
{{template "footer.html" .}}
