{{set . "title" "Pornk - Videos | The Best Free HD High Quality Porn Videos and XXX Movies"}}
{{template "header.html" .}}
{{template "navigation.html" .}}

{{set . "parallax" "13"}}
{{template "parallax.param.html" .}}

<main>
  <div class="container">
    <div class="row">
      <h5>{{ .video.Title }}</h5>
	<p>{{ .video.Description }}</p>
    </div>      

	

  <div class="row">
  	<img class="responsive-img" src="/public/gif/{{ .video.Id }}.gif" alt="{{ .video.Title }}">
  </div>

    
  </div>
</main>

{{set . "parallax" "14"}}
{{template "parallax.param.html" .}}

{{template "footer.html" .}}
