<footer class="page-footer">
	<div class="container">
        	 <div class="row">
                 	<div class="col l6 s12">
                		<h5 class="white-text">Pornk Information</h5>
                		<p class="grey-text text-lighten-4">
				The Pornk team is always making sure that it provides
				its users with the best porn videos and xxx content possible.  Pornk prides itself in being
				the fastest porn tube site on the internet.  Our goal is to provide the newest and best
				porn media that is up to date and satifying to the ever growing demand of porn fans.  Here
				at Pornk we believe in pushing our features to the limit of a forever growing IT industry.
				As you continue to visit you will be guaranteed the best adult industry practices.  Please
				feel free to share us on social media.  The Pornk team thanks its fan's for their support.
				</p>
              		</div>
              		<div class="col l4 offset-l2 s12">
                		<h5 class="white-text">Information</h5>
                		<ul>
                  			<li><a class="grey-text text-lighten-3" href="#!">Sitemap</a></li>
                  			<li><a class="grey-text text-lighten-3" href="#!">Terms and Conditions</a></li>
                  			<li><a class="grey-text text-lighten-3" href="#!">Privacy Policy</a></li>
                  			<li><a class="grey-text text-lighten-3" href="#!">DMCA</a></li>
		  			<li><a class="grey-text text-lighten-3" href="#!">2257</a></li>
                		</ul>
              		</div>
            	</div>
	</div>
        <div class="footer-copyright">
        	<div class="container">© 2021 Pornk.tk<a class="grey-text text-lighten-4 right" href="http://volcansystems.tk">Developed by Volcan Systems</a></div>
        </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
	document.addEventListener('DOMContentLoaded', function() {
    		var elems = document.querySelectorAll('.sidenav');
    		var instances = M.Sidenav.init(elems, {});
	
		var elems = document.querySelectorAll('.carousel');
		var options = { fullWidth: true, indicators: true };
		var instances = M.Carousel.init(elems, options);
	
		var elems = document.querySelectorAll('.parallax');
		var instance = M.Parallax.init(elems, {});
  	});
</script>
<!--<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-60c3755c6c5013cd"></script>-->
</body>
</html>
