<header>
	<nav>
    		<div class="nav-wrapper">
      			<a href="/" class="brand-logo center"><i class="material-icons">blur_on</i>Pornk</a>
      			<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      			<ul class="right hide-on-med-and-down">
       				<li><a href="/">Home</a></li>
				<li><a href="/login">Login</a></li>
				<li><a href="/user/list">Lists</a></li>
        			<li><a href="/videos">Porn Videos</a></li>
        			<li><a href="/categories">Categories</a></li>
        			<li><a href="/pornstars">Pornstars</a></li>
				<li><a href="/tags">Tags</a></li>
				<li><a href="/channels">Channels</a></li>
      			</ul>
    		</div>
  	</nav>
  	<ul class="sidenav" id="mobile-demo">
    		<li><a href="/"><i class="material-icons">blur_on</i>Pornk</a></li>
    		<li><a href="/">Home</a></li>
    		<li><a href="/login">Login</a></li>
    		<li><a href="/user/list">Lists</a></li>
    		<li><a href="/videos">Porn Videos</a></li>
    		<li><a href="/categories">Categories</a></li>
    		<li><a href="/pornstars">Pornstars</a></li>
    		<li><a href="/tags">Tags</a></li>
    		<li><a href="/channels">Channels</a></li>
	</ul>
</header>
